//  IMPORT
@import 'main.scss';

/*  LEFT BUTTON  */
#leftSide_Btn {
    height: 90px;
    color: #333;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    left: calc(50% + 100px);
    bottom: 50px;
    
    .aboutHome {
        @include transition(0.3s);
        @include transform(translate(0, 0));

        &.showHome {
            @include transform(translate(0, -100%));
        }

        hr {
            @extend .red_HR;
        }
        h6 {
            content: "Aboutd"; 
            text-align: left;
        }        
    }
    // .aboutHome.showHome {
    //     @include transform(translate(0, -100%));
    // }
    
}
#leftSide_Btn:hover hr {
    width: 100%; 
}








/*  LEFT WRAPPER  */
.left_Wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;    
    z-index: 1;
    @include transition(0.3s);
    -webkit-transition-timing-function: cubic-bezier(.77,.17,.51,.78);
       -moz-transition-timing-function: cubic-bezier(.77,.17,.51,.78);
        -ms-transition-timing-function: cubic-bezier(.77,.17,.51,.78);
         -o-transition-timing-function: cubic-bezier(.77,.17,.51,.78);
            transition-timing-function: cubic-bezier(.77,.17,.51,.78);
    @include transform(translate(-50%, 0));

    &.leftSide_Show {
        @include transform(translate(0, 0));
    }
    &.leftSide_Hide {
        @include transform(translate(-100%, 0));
    }

    /*  LEFT CONTAINER  */
    .leftContainer {
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        
        &.overflowY_Hidden {
            -ms-overflow-y: hidden;
                overflow-y: hidden;
        }

        .content {
            width: 50%;
            height: 100%;
            background: #111;
            color: #fff;
            padding: 75px 100px;
            text-align: right;

            hr {
                @extend .red_HR;
                float: right;
            }
            h1 {
                width: 100%;
                float: left;
            }
            h4 {
                width: 100%;
                float: left;
                margin-bottom: 25px;
            }
            h6 {
                width: 100%;
                float: left;
                line-height: 20px;
                
                i {
                    padding-right: 5px;
                }
            }
            p {
                width: 100%;
                color: silver;
                float: left;
                margin-bottom: 25px;
            }
            a {
                color: #fff;
                float: right;
                line-height: 20px;
                padding-left: 15px;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
    // .leftContainer.overflowY_Hidden {
    //     -ms-overflow-y: hidden;
    //         overflow-y: hidden;
    // }
}
// .left_Wrapper.leftSide_Show {
//     @include transform(translate(0, 0));
// }
// .left_Wrapper.leftSide_Hide {
//     @include transform(translate(-100%, 0));
// }



















































































































































































































































